<!-- Footer -->
	<footer class="footer font-small teal pt-4">

	  <!-- Footer Text -->
	  <div class="footer__box1 container-fluid text-center text-md-left">

	    <!-- Grid row -->
	    <div class="row">

	      <!-- Grid column -->
	      <div class="col-md-6 mt-md-0 mt-3">

	        <!-- Content -->
	        <h5 class="text-uppercase font-weight-bold">2020 Serrato Creations</h5>
	        <p>Built by ANTHONY SERRATO. Copyright © by Anthony Serrato. This website was created using current web frameworks and tecnologies, it is powered by Firebase hosting and functions to ensure reliability. This website is programmed using HTML 5, SASS(short for syntactically awesome style sheets), and Javascript. Finaly the backend is powered by Node.js, and Firebase database, authentication, and storage.</p>

	      </div>
	      <!-- Grid column -->

	      <hr class="clearfix w-100 d-md-none pb-3">

	      <!-- Grid column -->
	      <div class="col-md-6 mb-md-0 mb-3">

	        <!-- Content -->
	       	
		      <!-- Place this tag where you want the button to render. -->
				<a class="github-button" href="https://github.com/Anthony17serrato" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Follow @Anthony17serrato on GitHub">Follow @Anthony17serrato</a>
			  

	      </div>
	      <!-- Grid column -->

	    </div>
	    <!-- Grid row -->

	  </div>
	  <!-- Footer Text -->

	  <!-- Copyright -->
	  <div class="footer__box2 footer-copyright text-center py-3">© 2020 Copyright:
	    <a href="https://serratocreations.com/"> Serrato Creations</a>
	  </div>
	  <!-- Copyright -->

	</footer>
	<!-- Footer -->
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	<script type="text/javascript" src="index.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>