<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Serrato Creations</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="img/What_U_Want_logo.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-primary flex-column align-items-stretch">
	
  		<!-- <a class="navbar-brand mx-auto mr-auto mb-0 h1">Serrato Creations</a> -->
  		<a class="navbar-brand mx-auto mr-auto mb-0 h1">
    		<img src="/img/serratocreations.png" width="178" height="41" class="d-inline-block align-top" alt="">
  		</a>
  	
	  <div class="nav justify-content-center">
	    <ul class="navbar-nav mc-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/">Home </a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/resume">Resume</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/about">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/contact">Contact</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	