/*browser wont add any margins*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;/*set the property to inherit*/
}

html{
    //this defines what 1 rem is
    font-size: 62.5%;/*100/16pixels(default)*/
}

body {
    box-sizing: border-box; /*prevents margin and padding from being added to height of element*/

}

.self_portrait {
    max-width: 15rem;
    max-height: 150rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: moveInLeft 1s ease-out;
}

.rounded-circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.learn-more {
	color: #495262;
	text-align: center;
	display: block;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    -webkit-animation-name: learn_more;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-name: learn_more;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    & p {
        margin-bottom: 0;
    }
}

@keyframes learn_more {
    from   {color:#495262 ;padding-bottom: 0;}
    to {color:#ef5350; padding-bottom: 2rem; }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.intro {
    height: 100vh;
    padding-top: 8rem;
    background-color: #AECBFA;

    &__header {
        color: #495262;
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        font-size: 3.6rem;
        display: block;
        padding-top: 1%;
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        animation: moveInRight 1s ease-out;
    }
}






