.section-projects {
	min-height: 100vh;
	height: auto;
	padding-top: 2rem;
	&__card {
		width: 88%;
		margin-bottom: 2rem;
		@include respond(tab-port){
			width: 92%;
		}
		@include respond(phone){
			width: 99%;
		}
	}
}
.card {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
