 <% include ../partials/header %>
	<header class="header">

		<div class="header__logo-box">
            <img src="img/What_U_Want_logo.png" alt"Logo" class="header__logo">
        </div>
        <img src="img/self_image.jpg" class="rounded-circle header__self-portrait" alt="Anthony Serrato">
		<h1 class="header__intro">Hi, I'm Anthony. I build & design Websites, Mobile Apps and Much More!</h1>
		<div class="bg-video">
			<video class="bg-video__content" poster="img/video_loading.jpg" autoplay muted loop>
				<source src="img/love_coding.mp4" type="video/mp4">
				<source src="img/love_coding.webm" type="video/webm">
				Your browser is not supported!
			</video>
		</div>
			
	</header>



	<section class="section-projects">
	<div class="container-fluid">
		<div class="row">
		    <div class="col">
		      <h1 style="text-align: center">My Projects</h1>
		    </div>
		</div>

		<div class="row">
		    <div class="col-sm-12 col-md-6 col-lg-4">
		      	<div class="card section-projects__card">
				  <img class="card-img-top" src="img/natourshead.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Natours Landing Page</h5>
				    <p class="card-text">Natours is a front end website I created for my course Advanced CSS and SASS, it was written in html, sass and javascript. click learn more for more datails on the website.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Platform: Web</li>
				    <li class="list-group-item">Technologies: Sass</li>
				    <li class="list-group-item">Date developed: 2019</li>
				  </ul>
				  <div class="card-body">
				    <a href="/natours" class="card-link">View Project</a>
				    <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal">Learn More</a>
				  </div>
				</div>
		    </div>
		    <div class="col-sm-12 col-md-6 col-lg-4">
			    <div class="card section-projects__card">
				  <img class="card-img-top" src="img/musicapi.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Music API microservices</h5>
				    <p class="card-text">Music API is a set of four backend web microservices developed for my web development class.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Platform: Web</li>
				    <li class="list-group-item">Technologies: Python, SQL, NOSQL, Microservices</li>
				    <li class="list-group-item">Date developed: 2019</li>
				  </ul>
				  <div class="card-body">
				    <a href="/musicapi" class="card-link">View Project</a>
				    <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal">Learn More</a>
				  </div>
				</div>
		    </div>
		    <div class="col-sm-12 col-md-6 col-lg-4">
		      	<div class="card section-projects__card">
				  <img class="card-img-top" src="img/gpimg.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Gym Pal</h5>
				    <p class="card-text">Gym Pal is an Android application I have been working on since mid 2017, With over 500 hours of development time it is the largest project I have ever taken on. The Application is available for download on the google play store.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Platform: Android</li>
				    <li class="list-group-item">Technologies: Android SDK</li>
				    <li class="list-group-item">Date developed: 2017-present</li>
				  </ul>
				  <div class="card-body">
				    <a href="/gp" class="card-link">View Project</a>
				    <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal">Learn More</a>
				  </div>
				</div>
		    </div>
		</div>
	</div>
		
	</section>

	<section class="section-demos">
	<div class="container-fluid">
		<div class="row">
		    <div class="col">
		      <h1 style="text-align: center">Live Demos</h1>
		    </div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<img class="child section-demos__device show-on-scroll is-visible" src="img/device_frame.png" alt="Card image cap">
				
				<video class="parent show-on-scroll is-visible" poster="img/video_loading.jpg" autoplay muted loop>
					<source src="img/MealPal2.mp4" type="video/mp4">
					<source src="img/MealPal2.webm" type="video/webm">
					Your browser is not supported!
				</video>
				
			</div>
			<div class="col-sm-12 col-md-6">
				<h2>Meal Pal</h2>
				<p>Meet Meal Pal a user ranked recipe search app and an extension to my most popular app Gym Pal. For this app I wanted to create something interesting that I myself would use. The concept was to make an app that accesses millions of recipes and then ranks them according to which recipes have been saved the most by users, it also features a trending section that displays recipes which have been saved a lot recently. The application is written in Kotlin(a first for me) and features bleeding edge android components such as ViewPager2 and Jetpack Compose. The user interface is based on Google's new material design. Meal Pal connects to Edamame recipe search API which contains over 2 million food recipes, once the recipes are received from the api Meal Pal connects to my Firebase real-time database server which contains rank information for popular recipes. Once the recipes and rank are received through an AsyncTask (Background thread) the recipes are organized according to their rank(saves) and the data is loaded to the user interface.</p>
			</div>
		</div>
	</div>
	</section>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <h5 class="modal-title" id="exampleModalLabel">Natours Landing Page</h5>
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  <div class="modal-body">
	    This string to contain detailed information on the project...
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	    <button type="button" class="btn btn-primary">Share</button>
	  </div>
	</div>
	</div>
	</div>

 <% include ../partials/footer %>

	