<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anthony Serrato</title>
	<link rel="shortcut icon" type="image/png" href="img/What_U_Want_logo.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
	<!-- landing block -->
	<section class="intro">
		<!-- Landing card -->
		<img src="img/self_image.jpg" class="rounded-circle self_portrait" alt="Anthony Serrato">
		<h1 class="intro__header">Hi, I'm Anthony. I build & design Websites, Mobile Apps and Much More!</h1>	

		<div class="learn-more">
			<p class="learn-more__hover-me">Learn More About What I Do</p>
			<i class="learn-more__hover-me material-icons">keyboard_arrow_down</i>
		</div>
	</section>
</body>
</html>